@media (min-width: 100px) {
    .clients-item {
        min-width: calc(33.33% - 10px);
    }

    .project-img,
    .blog-banner-box {
        height: auto;
    }

    .nav-page, .nav-login{
        visibility:hidden;
    }

}
