main {
    margin-bottom: 75px;
    min-width: 259px;
}

body{
    padding-top: 64px;
}

.header{
    background-color: var(--smoky-black);
}

.join-btn {
    background-color: var(--primary);
    color: var(--smoky-black);
    cursor: pointer;
    transition: background .3s ease;
    align-self:center;
}

.join-btn:hover {
    opacity: 80%;
}


